:root {
    --blue: #2405f2;
    --orange: #ff3b00;
    --pink: #ffb6ed;
    --beige: #fffdeb;
}
.smooth-vuebar {
    max-width: 100vw;
    max-height: 100vh;
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--beige);
    background: var(--blue);
}

::selection {
    color: var(--beige);
    background: var(--blue);
}
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
  }
body{
    font-family: "Sora", sans-serif;
    font-weight: 400;
    margin: 0 !important;
    background: #3100ff !important;
}
a{
    text-decoration: none;
    color: inherit;
}
.wrapping-content{
    width: 100%;
    max-width: 1440px;
    display: block;
    margin: 0 auto;
    z-index: 99;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px;
    overflow: hidden;
}
.loader {
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
z-index: -999;
}

.loader .wrapping-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
}
.loader img {
    height: 170px;
}

h1{
    font-family: "Miratrix";
    font-size: 13em;
    font-weight: normal;
}
h2{
    transition: all 0.5s ease;
    font-weight: 700;
}
a{
}
.short-enter, .short-leave-to{
    opacity: 0;
    /* transform: translateX(6em); */
}
.short-enter-active, .short-leave-active{
    transition: all 1s ease;
}
.short-enter-active{
    transition-delay: 0.3s;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
    /* transform: translateX(6em); */
}
.fade-enter-active, .fade-leave-active{
    transition: all 1s ease;
}
.fade-enter-active{
    transition-delay: 2.8s;
}
.index{
    background-color: var(--blue);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.index h1{
    font-size: 13em;
    margin: 0;
    line-height: 0.85;
    display: flex;
    color: var(--pink);
    animation: intro 5s infinite;
    opacity: 0;
    padding: 0 15px;
}

.pandemic{
}
.streaming{}
.equals{}
.pandeaming{}
@keyframes intro{
    0%{
        opacity: 0;
    }
    1%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.index p{
    color: var(--beige);
    animation: fade 5s;
    animation-iteration-count: initial;
}
.index h1:nth-child(2){
    animation-delay: 1s;
}
.index h1:nth-child(3){
    margin-top: -1%;
    animation-delay: 1.5s;
}
.index h1:nth-child(4){
    color: var(--beige);
    animation-delay: 2s;
}
.index .wrapping-content{}

.splash h1{
    font-size: 13em;
    margin: 0;
    line-height: 0.85;
    /* display: flex; */
    color: var(--pink);
    margin-bottom: 2%;
}
.splash h2{
    float: left;
    font-weight: 800;
    width: fit-content;
    display: flex;
    /* flex-direction: row; */
    text-transform: uppercase;
    margin: 0;
    font-size: 4em;
    transition: all 0.5s ease;
}
.splash h2:hover{
    color: var(--beige);
}
.splash{
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('splashconcert.gif');
    background-size: cover;
    background-position:center;
    position: relative;
}
.splash p, .index p{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.splash .wrapping-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 5%;
}
.aboutpage span{
    font-family: "Miratrix";
}
.aboutpage{
    background-color: var(--beige);
    height: 100vh;
    background-image: url('isolation-blue.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.aboutpage h2{
    font-weight: normal;
    font-size: 1.2em;
    margin-top: 3%;
    margin-bottom: 0;
    text-transform: uppercase;
}
.aboutpage h2:hover{
    color: var(--pink);
}
.aboutpage h1{
    font-size: 9em;
    margin: 0;
    margin-top: 3%;
    color: var(--orange);
}
.aboutpage article{
    width: 50%;
}
.aboutpage p{
    line-height: 1.8;
    color: var(--blue);
}
.aboutpage .wrapping-content{}

.home{
    background-color: white;
}
.home .wrapping-content{}
.home img{

}
.logo-top{
    height: 100px;
    margin: auto;
    padding: 4% 0;
    display: block;
    /* margin: 1% 0; */
    text-align: center;
}
.home img{}
.home article{}
.home article h1{
    text-align: center;
    line-height: 1;
    margin: 0;
    font-size: 17em;
    /* color: var(--blue); */
}
.fewfacts{
margin-top: 5em;
    position: relative;
    overflow: hidden;
}
.home .wrapping-content{
    background-image: none !important;
}
.home figure{
    width: 50%;
    float: left;
    background-image: url('performance-facts.jpeg');
    height: 120vh;
    background-position: right;
    background-size: cover;
    margin: 0;
    /* background-attachment: fixed; */
}
.right-figure{
    background-image: url('spotify.jpeg') !important;
}
.fewfacts article{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 99;
}
.numberfact{
    top: initial !important;
    bottom: -30%;
}
.numberfact h2{
    font-size: 26em !important;
}
.fewfacts article h2{
    font-size: 10em;
    text-transform: uppercase;
    color: white;
    margin: 0;
}
.fewfacts article p{
    color: white;
    margin: 0;
    font-size: 1.2em;
}
.home figure::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    mix-blend-mode: multiply;
    transition: all 0.6s ease;
}
/* .home figure:nth-child(2)::before{
    background-color: var(--orange);

} */
/* .home figure:hover::before{
    opacity: 0.2;

} */
.facts{}
.facts article{
    text-align: center;
    margin: auto;
    width: 70%;
    padding: 7em 0;
}
.facts article p{
    margin: 0;
    font-size: 1.2em;

}
.outro-home{
    background-image: url('artistpink.svg');
    background-color: var(--blue);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10em 0;
}
.outro-home article{
    width: 56%;
    color: #fea4fd;
    mix-blend-mode: difference;
}
.facts article h2{
    font-size: 17em;
    text-align: center;
    text-transform: uppercase;
    color: var(--blue);
    margin-bottom: 0;
    margin-top: 5%;
    line-height: 0.9;
}
.outro-home h3{
    color: var(--beige);
    background: black;
    width: fit-content;
    padding: 0.6% 1%;
    margin-left: 0.5%;
}
.outro-home h1{
    font-size: 6em !important;
    text-align: left !important;
    color: var(--beige);
    margin: 0;
    line-height: 1;
}
.outro-home p{
    line-height: 1.8;
}
.outro-home .wrapping-content{}
.outro-home h4{
    font-family: "Miratrix";
    font-size: 10em !important;
    text-align: center !important;
    color: var(--beige);
    margin: 0;
    font-weight: normal;
    margin: 10% 0;
    line-height: 1;
}
.upnext{
    background-image: url('glitch.gif');
    background-size: 80%;
    background-position: center;
    text-align: center;
    margin: 0;
    padding: 20em 0;
}
.upnext h1{
    margin: 0;
    transition: all 0.6s ease;
}
.upnext h1:hover{
    color: var(--pink);
}
.upnext h2{
    margin: 0;
    color: var(--beige);
    background: black;
    width: fit-content;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    padding: 0.8% 1%;
}
.mask{
    background: black !important;
    z-index: 90;
}
.vue-simple-drawer {
    background: var(--blue) !important;
    width: 70vw !important;
    z-index: 99;
}
.line-style {
    height: 8% !important;
}
.bm-cross {
    background: var(--beige) !important;
    width: 3px !important;
    height: 42px !important;
}
.bm-cross-button {
    height: 24px;
    width: 24px !important;
}
.cross-style {
    right: 2% !important;
}
.bm-menu {
    background-color: var(--blue) !important;
    z-index: 99 !important;
    /* transition: all 0.6s ease !important; */
}
.bm-menu p{
    text-transform: uppercase;
    padding-left: 1%;
}
.bm-menu span{
    font-size: 2.8em !important;
    text-transform: uppercase;
    transition: all 0.6s cubic-bezier(0,.64,.51,.97) !important;
    line-height: 1 !important;
    margin: 0.5% 0;
    /* width: fit-content !important; */
    /* font-family: 'Miratrix'; */
    /* font-weight: normal !important; */
}
.bm-menu span:hover{
    color: var(--pink);
    margin-left: 3%;
    /* padding-left: 3%; */
}
.nav-active{
    text-decoration: line-through;
    color: var(--pink) !important;
    pointer-events: none;
}

cursor-fx{
    mix-blend-mode: difference !important;
}